body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #111;
  color: white;
  font-family: Montserrat, sans-serif;
}

body.shift1 {
  transform: translate(3px, 2px);
}
body.shift2 {
  transform: translate(-3px, 2px);
}
body.shift3 {
  transform: translate(2px, -3px);
}
body.shift4 {
  transform: translate(-2px, -2px);
}

body {
  transition: transform 2s ease;
}

.header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;

  padding: 30px 50px;

  border-bottom: 4px solid #73bf44;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 60px;
}

.org-name {
  font-size: 28px;
  font-weight: 600;
}

.clock {
  font-size: 48px;
  font-weight: 300;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-temp {
  font-size: 48px;
  font-weight: 300;
  padding-right: 20px;
}

.weather-icon i {
  font-size: 50px;
  color: #ffffff;
}

.weather-icon i {
  animation: floatIcon 6s ease-in-out infinite;
}

@keyframes floatIcon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

main {
  padding: 40px;
  height: 100vh;
}

.schedule-grid {
  top: 0;
  left: 0;

  width: 100%;
  height: 90%;

  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 2vh;
  padding: 1vh;

  transition: opacity 1s ease;
}

.day-box {
  background: #1c1c1c;
  border-top: 0.6vh solid #73bf44;
  border-radius: 1vh;
  padding: 1.2vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.day-box.today {
  border-color: #e4a224;
  color: white;
}

.day-box.today .day-title {
  font-weight: 700;
  font-size: 1.2em;
}

.day-box.today {
  color: white;
  box-shadow: 0 0 15px rgba(191, 170, 68, 0.5);

  animation: todayGlow 4s ease-in-out infinite;
}

@keyframes todayGlow {
  0% {
    box-shadow: 0 0 10px rgba(115, 191, 68, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(115, 191, 68, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(115, 191, 68, 0.4);
  }
}

.day-header {
  font-size: clamp(14px, 1.6vw, 26px);
  font-weight: 600;
  margin-bottom: 0.5vh;

  color: #73bf44;
}

.events {
  position: relative;

  overflow: hidden;

  flex: 1;
}

.events-inner {
  display: flex;

  flex-direction: column;

  gap: 0.4vh;

  animation: scrollEvents linear infinite;
}

.event {
  padding: 0.3vh 0.4vw;

  border-radius: 0.4vh;

  background: #2a2a2a;

  border-left: 6px solid #73bf44;

  font-weight: 300;
  font-size: clamp(10px, 1.2vw, 20px);
}

.event.public {
  border-left: 6px solid #518aa8;
}

.event.education {
  border-left: 6px solid #a5629b;
}

.event.government {
  border-left: 6px solid #ef4723;
}

.event-time {
  color: #e4a224;
  font-weight: 500;
  margin-right: 6px;
}

.no-events {
  opacity: 0.5;
  font-style: italic;
  font-weight: 300;
  font-size: clamp(10px, 1.2vw, 20px);
}

.background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(-45deg, #73bf44, #518aa8, #a5629b, #e4a224);

  background-size: 400% 400%;

  animation: gradientMove 30s ease infinite;

  z-index: -1;
}

.ticker {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 45px;

  background: #111;

  border-top: 3px solid #73bf44;

  overflow: hidden;

  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.ticker-track {
  white-space: nowrap;

  animation: tickerScroll 40s linear infinite;

  font-size: 18px;
}

.ticker-track span {
  margin-right: 80px;

  color: #ffffff;
}

@keyframes tickerScroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scrollEvents {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}
